# DB_HOST=dpg-d0tc7ck9c44c739b1t6g-a.singapore-postgres.render.com
# DB_PORT=5432
# DB_USER=sri_sri
# DB_PASSWORD=dJcJYdGeP8KBaXkyg6X5RJLeetcfQKXU
# DB_NAME=blogging_platform_hh9c
# DB_SSLMODE=require
# JWT_SECRET=your_jwt_secret

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=%403138%23
DB_NAME=blogging_platform
JWT_SECRET=your_jwt_secret
DATABASE_URL=postgres://postgres:password@localhost:5432/blogging_platform
FRONTEND_URL=http://localhost:3000
PORT=8000
